section {
  margin-bottom: 150px;
}
.section-header {
  margin: 50px;
  font-size: 50px;
  color: green;
}
.gallery__img {
  width: 400px;
  height: auto;
}
.gallery__wrapper {
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
.gallery__list {
  align-items: center;
  list-style: none;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
}

.task-header {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}

section {
  outline: 3px solid green;
}
